@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url('src/fonts/SourceCodePro/SourceCodePro-VariableFont_wght.ttf');
    font-family: 'SourceCodePro';
}

::-webkit-scrollbar {
    border: 10px solid transparent;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border: 10px solid transparent;
    background-color: #192A51;
}

@layer components {
    .memo-item-desktop {
        @apply w-[90%] min-h-[4rem] flex flex-row items-center justify-center border-[1px] border-dark rounded-lg
            hover:bg-purple hover:text-light transition duration-500 hover:scale-90
    }

    .memo-bar-desktop {
        @apply h-4/6 w-1/6 bg-violet absolute left-10 shadow-2xl shadow-main rounded-2xl p-2 flex-col items-center hidden xl:flex
    }

    .memo-form {
        @apply h-full xl:w-2/3 flex flex-col justify-center items-center space-y-10 rounded-xl bg-violet shadow-2xl shadow-main
            w-4/5
    }

    .memo-input {
        @apply border-[1px] border-dark w-5/6 px-4 text-dark outline-none bg-light placeholder:text-purple resize-none
    }

    .app-title {
        @apply pt-10 text-5xl text-main text-transparent bg-clip-text bg-gradient-to-r from-dark via-main to-dark
            font-bold drop-shadow-lg text-center
    }
}